/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */

table {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

thead {
    border-bottom: 2px solid #d32f2f;
}


table td, table th {
    padding: 24px 60px;
    text-align: left;
}

tr:nth-child(2n) {
    background-color: #eee;
}

th {
    background-color: #fff;
}

.error-value {
    color: #D32B1E;
}

h1, h2 {
    text-align: center;
    color: #222;
    margin: 4rem;
}

/* Line under h2 */
h2::after {
    content: "";
    display: block;
    width: 72px; /* Line length */
    height: 5px; /* Line height */
    background-color: #D32B1E;
    margin: 25px auto 0;
}